template(name='card')
  img.card-image(src=imageUrl)
  .card-actions
    +counterInput
    button.btn.btn-default.add-to-mine
      if amountInLibrary
        span.glyphicon.glyphicon-minus.remove-card
        span.btn-title.card-amount=amountInLibrary
        span.glyphicon.glyphicon-ok
      else
        span.btn-title Add to mine
        span.glyphicon.glyphicon-ok.hidden
    br
    .btn-group
      button.btn.btn-default.dropdown-toggle.add-to-deck(type='button' data-toggle='dropdown' aria-expanded='false')
        ="Add to deck"
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Deck One