.index-cards-head
  #card-filters
    width: 285px
    .form-group
      display: inline-block
      vertical-align: top
      padding: 0 5px
      .checkbox
        display: block
.card-list-container
  margin-top: 20px
.card-list
  width: 260px
  .card-list-item
    .card-name
      display: inline-block
      cursor: pointer
      width: 200px
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
      font-size: 120%
      &:hover
        text-decoration: none

#card-wrapper
  position: fixed
  top: 168px
  left: 300px
  .card-image
    width: 223px
    height: 310px
  .card-actions
    display: inline-block
    .add-to-deck, .add-to-mine
      border-radius: 0 4px 4px 0
      width: 122px
    .add-to-mine .glyphicon
      display: block
      float: right
    .dropdown-menu
      min-width: 122px
