template(name='indexCards')
  .container-fluid
    h2 List of cards

    select.sort-select
      option(value='name') Name
      option(value='cmc') Mana
      option(value='type') Type
      option(value='colors') Colors
    .type-checkboxes
      each types
        .checkbox
          label
            input(type='checkbox' value=this)
            =this
    .color-checkboxes
      each colors
        .checkbox
          label
            input(type='checkbox' value=this)
            =this
      .checkbox
        label
          input(type='checkbox' value='')
          ="Empty"
    
    ul.list-group.card-list
      each cards
        +cardListItem
  
  #card-wrapper