template(name='navbar')
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') MtG Deckbuilding
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          each pages
            li(class="{{isActivePath path}} text-capitalize")
              a(href=path)=name